* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 800px;

}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}



.container {
    position: relative;
}

.heatmap-container {


    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.map {
    width: 900px;
    position: relative;
    z-index: 1;

}




.heatmap {
    width: 800px;
    height: 500px;
}